{% extends "base_generic.html" %}

<!-- <nav>
        <div class="tc pb3">
        {% for category in category_list %}
        <a class="link dim gray f6 f5-ns dib mr3" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
         {% endfor %}
         </div>

</nav> -->

{% block content %}
<!--  
  <div class='items-center justify-center f5 avenir pa2 mh2'>
      <h2> Books by category:</h2>
    {% for book in category.book_set.all %}
       <p> <a href="{{ book.url }}">{{ book }}</a> ({{book.author}}) </p>
        {{ book.description }}
        <p class='f6 i'>{{ book.date_added }}</p>
    {% endfor %}
       
</div> -->

test
{% endblock %}