<!DOCTYPE html>
<html lang="en">
<head>
        {% block title %}<title>Free Bookshelf</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% block topbar %}
<div class="vh-25 cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
    <a class="link dim white b f1 f-headline-ns tc pv4 db mb3 mb4-ns avenir" href="{% url 'index' %}" title="Title">Free Bookshelf</a>
</div>
<header class="avenir">
    <nav>
        <div class="list flex mh4 mv4">
          <a class="pr2" href="">Home</a>
          {% if request.user.is_authenticated %}
          Logged in as: {{ request.user }}  <a class="mh5" href="{% url 'user-favorites' %}">Favorites</a>
          <a class="mh5" href="{% url 'auth_logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'auth_login' %}"">Login</a>
          <a  class="mh5" href="{% url 'registration_register' %}">Register</a>
        {% endif %}
        </div>
      
        <div class="list flex mh4">
            <a class="booksby mh4 href="#">Books by category:</a>
            {% for category in list_of_categories %}
            <a class="mh5" href='{{ category.get_absolute_url }}'>{{ category.name }}</a>
            {% endfor %}
        </div>
      </nav>
</header>
 {% endblock %}
      </div>
      <div>{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>